@page
@model EmparejaTecWebApp.Pages.ErrorPageModel
@{
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmparejaTecWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div style="text-align:center; margin-top:50px;">
        <h1 style="color:red;">Oops! Something went wrong.</h1>
        <p style="font-size:20px;">We are sorry for the inconvenience. Please try again later.</p>
        <a href="/">Return to Home</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

