@page
@model LayoutTemplateWebApp.Pages.IndexModel
@{
}
<div class="card border-light w-75 mx-auto position-relative">
    <div class="container">
        <div class="row mb-3">

            <h1 class="card-title">samurai99 </h1>
            <a class="list-group-item text-center" href="#">
                 <span ></span>
            </a>

            <div class="position-absolute top-50 start-0 translate-middle-y" style="z-index: 1">
                <!-- Foto de perfil -->
                <img src="~/images/profile_pic/turtle.png" class="img-fluid rounded-circle" alt="Foto de perfil" width="100" height="20">
            </div>
            <div class="card-body">
                <h1 class="card-title">samurai99</h1>
                <br>
                <p class="card-text"><small class="text-muted"></small></p>
                <div class="d-flex justify-content-center">
                  
                </div>
            </div>
        </div>
    </div>
</div>
