@page
@model IndexModel
@{
    ViewData["Title"] = "Política de Privacidad de EmparejaTEC";
}
<br>
<h1 style="text-align: center;"> @ViewData["Title"]</h1>
<h2 style="text-align: center; font-size: 15px;" >  Fecha de última actualización: 11/10/2023 </h2>
<br>

<p>
    ¡Bienvenido a EmparejaTEC, la aplicación de citas/amistad para estudiantes del TEC. 
    Nos tomamos muy en serio la privacidad de nuestros usuarios y nos comprometemos a proteger la información personal 
    que puedan proporcionar. 

    2. Información Recopilada
    2.1. Datos de Registro:

    Para utilizar EmparejaTEC, no requerimos que proporciones tu nombre real u otra información de identificación personal. Los usuarios son completamente anónimos y se identifican mediante nombres de usuario generados automáticamente.
    2.2. Mensajes y Contenido Multimedia:

    La aplicación permite a los usuarios interactuar entre ellos mediante mensajes de texto. Después de intercambiar 200 mensajes con un usuario específico, se habilita la capacidad de enviar contenido multimedia, como imágenes.
    3. Uso de la Información
    3.1. Mensajes y Contenido Multimedia:

    Los mensajes y el contenido multimedia compartidos entre usuarios son privados y solo accesibles por los participantes en la conversación. EmparejaTEC no monitorea el contenido de los mensajes ni almacena información más allá de lo necesario para facilitar las interacciones entre usuarios.
    3.2. Anonimato:

    La aplicación se diseñó para preservar el anonimato de los usuarios. No compartiremos información que pueda identificar a un usuario sin su consentimiento explícito.
    4. Almacenamiento y Retención de Datos
    4.1. Mensajes y Contenido Multimedia:

    EmparejaTEC almacena mensajes y contenido multimedia de forma segura en nuestros servidores. Sin embargo, los mensajes pueden ser eliminados después de un período específico para preservar la privacidad de los usuarios.
    5. Compartir Información
    5.1. Divulgación Limitada:

    EmparejaTEC no compartirá información personal de usuarios con terceros sin el consentimiento del usuario, excepto cuando sea necesario para cumplir con la ley o proteger nuestros derechos y seguridad.
    6. Seguridad
    6.1. Medidas de Seguridad:

    Implementamos medidas de seguridad para proteger la información contra accesos no autorizados, pérdida, alteración o divulgación. Sin embargo, ninguna transmisión de datos por internet o sistema de almacenamiento es 100% seguro.
    7. Cambios en la Política de Privacidad
    7.1. Actualizaciones:

    Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Las actualizaciones se publicarán en la aplicación y serán efectivas tan pronto como estén disponibles.
    8. Contacto
    8.1. Preguntas:

    Si tienes preguntas o inquietudes sobre nuestra política de privacidad, por favor, ponte en contacto con nosotros en [correo electrónico de contacto].
    Gracias por confiar en EmparejaTEC.
</p>

