@page
@model LayoutTemplateWebApp.Pages.IndexModel
@{
}

<div class="card" style="background=\wwwroot\images\banner8.png; background-size: cover;">
        <div class="card-body">
            <!-- Contenido de tu card -->
        </div>
</div>



