@page
@model EmparejaTecWebApp.Pages.RegistroUsuarioModel
@{
    ViewData["Title"] = "RegistroUsuario";
    Layout = "_LayoutRegistro";
}

<!--Interests Modal-->
<div class="modal fade" id="interestsModal" tabindex="-1" aria-labelledby="interestsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="interestsModalLabel">Escoger gustos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="text-center mb-2">Gustos seleccionados</h4>
                <div class="">
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Ejercicio</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Comida</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Rock</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Café</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Ejercicio</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Comida</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Rock</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Café</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Ejercicio</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Comida</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Rock</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Café</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Ejercicio</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Comida</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Rock</span>
                    <span class="badge rounded-pill bg-primary fs-5 clickable mt-2">Café</span>
                </div>
                <h4 class="text-center my-2">Gustos a seleccionar</h4>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Comida</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Rock</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Café</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Comida</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Rock</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Café</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Comida</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Rock</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Café</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Comida</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Rock</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Café</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Comida</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Rock</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Café</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Comida</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Rock</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Café</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Comida</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Rock</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Café</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Comida</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Rock</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Café</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Comida</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Rock</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Café</span>
                <span class="badge rounded-pill bg-secondary fs-5 clickable mt-2">Ejercicio</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Avatar Modal-->
<div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="avatarModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container text-center">
                    <h2 class="text-center">Avatar Actual</h2>
                    <img src="~/images/profile_pic/boy.png" alt="Avatar por defecto" class="img-fluid rounded-circle"
                        width="150">
                    <p>Nick</p>
                    <h2 class="text-center mt-4">Avatares a Escoger</h2>
                    <div class="row text-center">
                        <div class="col-4">
                            <img src="~/images/profile_pic/penguin.png" alt="Pingu" class="img-fluid rounded-circle"
                                width="150">
                            <p>Pingu</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/zebra.png" alt="Zebrilla" class="img-fluid rounded-circle"
                                width="150">
                            <p>Zebrilla</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/shark.png" alt="Tiburoncín" class="img-fluid rounded-circle"
                                width="150">
                            <p>Tiburoncín</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/sloth.png" alt="Flash" class="img-fluid rounded-circle"
                                width="150">
                            <p>Flash</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/triceratops.png" alt="Tracy" class="img-fluid rounded-circle"
                                width="150">
                            <p>Tracy</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/rex.png" alt="Pepe" class="img-fluid rounded-circle"
                                width="150">
                            <p>Pepe</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/hacker.png" alt="Hackerman" class="img-fluid rounded-circle"
                                width="150">
                            <p>Hackerman</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/viking.png" alt="Helgar" class="img-fluid rounded-circle"
                                width="150">
                            <p>Helgar</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/boy.png" alt="Nick" class="img-fluid rounded-circle"
                                width="150">
                            <p>Nick</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/girl.png" alt="Ana" class="img-fluid rounded-circle"
                                width="150">
                            <p>Ana</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/frankenstein.png" alt="Frank"
                                class="img-fluid rounded-circle" width="150">
                            <p>Frank</p>
                        </div>
                        <div class="col-4">
                            <img src="~/images/profile_pic/devil.png" alt="El Chamuco" class="img-fluid rounded-circle"
                                width="150">
                            <p>El Chamuco</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Cover Modal-->
<div class="modal fade" id="coverModal" tabindex="-1" aria-labelledby="coverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="coverModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container text-center">
                    <h2 class="text-center">Fondo de portada actual</h2>
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <div class="image-container text-center">
                            <img src="~/images/banner_pic/banner1.png" alt="azul cielo" class="img-fluid rounded-3"
                                width="600">
                        </div>
                    </div>
                    <h2 class="text-center mt-4">Fondos de portada a escoger</h2>
                    <div class="row text-center">
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner1.png" alt="azul cielo" class="img-fluid rounded-3"
                                width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner2.png" alt="guirnaldas de acero"
                                class="img-fluid rounded-3" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner3.png" alt="anclas marinas" class="img-fluid rounded-3"
                                width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner4.png" alt="ave de invierno" class="img-fluid rounded-3"
                                width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner5.png" alt="zorro egipcio" class="img-fluid rounded-3"
                                width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner7.png" alt="akita flameante" class="img-fluid rounded-3"
                                width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner8.png" alt="espirito andante"
                                class="img-fluid rounded-3" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner9.png" alt="dientes de leon" class="img-fluid rounded-3"
                                width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner10.png" alt="otoño" class="img-fluid rounded-3"
                                width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner11.png" alt="delicadeza de invierno"
                                class="img-fluid rounded-3" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner12.png" alt="el ojo que todo lo ve"
                                class="img-fluid rounded-3" width="240">
                        </div>
                        <div class="col-4 mt-4">
                            <img src="~/images/banner_pic/banner13.png" alt="arenas del tiempo"
                                class="img-fluid rounded-3" width="240">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="container d-flex justify-content-center align-items-center vh-100 overflow-y-auto">
    <div class="container register-form">
        <div class="d-flex flex-column justify-content-center align-items-center mb-5">
            <i b-fb2uzsacw2="" class="bi bi-mortarboard-fill icon-form"></i>
            <h2 class="text-center">Crea tu cuenta</h2>
            <h5 class="text-center">¡Comienza tu nueva aventura!</h5>
        </div>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario anónimo</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="guayabitaNinja04">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Háblanos sobre ti</label>
                <textarea class="form-control" id="description" name="description"
                    placeholder="Me gustan mucho los patacones..."></textarea>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Ingresa tu edad</label>
                <input type="text" class="form-control" id="age" name="age" placeholder="21">
            </div>
            <div class="mb-3">
                <label class="form-label">Escoge tus intereses</label>
                <div class="w-100">
                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#interestsModal">
                        Escoger intereses
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">¿Qué estás buscando?</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="romance" name="interests[]" value="romance">
                    <label class="form-check-label" for="romance">Romance</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="amistad" name="interests[]" value="amistad">
                    <label class="form-check-label" for="amistad">Amistad</label>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">¿Cuál es tu sexo?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="masculino" value="masculino">
                    <label class="form-check-label" for="masculino">Masculino</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="femenino" value="femenino">
                    <label class="form-check-label" for="femenino">Femenino</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="otro" value="otro">
                    <label class="form-check-label" for="otro">Otro</label>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">¿A qué sexo te sientes atraído?</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="atraccion-masculino" name="attraction[]"
                        value="masculino">
                    <label class="form-check-label" for="atraccion-masculino">Masculino</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="atraccion-femenino" name="attraction[]"
                        value="femenino">
                    <label class="form-check-label" for="atraccion-femenino">Femenino</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="atraccion-otro" name="attraction[]"
                        value="otro">
                    <label class="form-check-label" for="atraccion-otro">Otro</label>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Escoge tu avatar</label>
                <div class="w-100">
                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#avatarModal">
                        Escoger avatar
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Escoge tu fondo de portada</label>
                <div class="w-100">
                    <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal"
                        data-bs-target="#coverModal">
                        Escoger fondo de portada
                    </button>
                </div>
            </div>
            <div class="mb-3 w-100 mt-5">
                <button type="submit" class="btn btn-primary w-100">Registrarme</button>
            </div>
        </form>
    </div>
</div>

<!-- Modales para intereses, avatar y fondo de portada (puedes personalizarlos según tus necesidades) -->
<div class="modal fade" id="interestsModal" tabindex="-1" aria-labelledby="interestsModalLabel" aria-hidden="true">
    <!-- Contenido del modal para intereses -->
</div>
<div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
    <!-- Contenido del modal para avatar -->
</div>
<div class="modal fade" id="coverModal" tabindex="-1" aria-labelledby="coverModalLabel" aria-hidden="true">
    <!-- Contenido del modal para fondo de portada -->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>