<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmparejaTecWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmparejaTecWebApp.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- AQUI COMIENZA EL HEADER-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-colorMainTrans">
            <div class="container-fluid align-middle">
                <div class="align-middle">
                    <a class="navbar-brand" asp-area="" asp-page="#">
                        @* //This could be the link to the inicial app page *@
                        <i class="bi bi-mortarboard-fill"></i>
                        EmparejaTec
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @{
                        var option1IsActive = Context.Request.Path.Value.Contains("/Option1");
                        var option2IsActive = Context.Request.Path.Value.Contains("/Option2");
                    }

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item nav-item-header">
                            <a class="nav-link nav-link-header @(option1IsActive ? "active" : "")" asp-area="" asp-page="/Usuario/Index">Inicio</a>
                        </li>
                        <li class="nav-item nav-item-header">
                            <a class="nav-link nav-link-header @(option2IsActive ? "active" : "")" asp-area="" asp-page="/Usuario/EditarPerfil">Editar Perfil</a>
                        </li>
                    </ul>

                    <!-- Accesibility Icons -->
                    <div class="text-center align-middle text-black mx-1">
                        <!-- Interactive icons represented as buttons -->
                        <button id="highContras" class="icon-button bi bi-brightness-high-fill" aria-label="Alto constraste" style="cursor: pointer;" onclick="applyHighContrast()">
                        </button>
                        <button id="zoom-icon" class="icon-button bi bi-zoom-in" aria-label="Aumentar Tamaño de letra" style="cursor: pointer;" onclick="zoomIn()">
                        </button>
                        <button id="zoom-icon" class="icon-button bi bi-zoom-out" aria-label="Disminuir Tamaño de letra" style="cursor: pointer;" onclick="zoomOut()">
                        </button>
                    </div>

                    <!--
                    <button onclick="zoomIn()" type="button" class="btn btn-outline-primary" style="margin-inline: 10px">
                        <i class="bi bi"></i> <h2>+</h2>
                    </button>
                    <button onclick="zoomOut()" type="button" class="btn btn-outline-secondary" style="margin-inline: 5px">
                        <i class="bi bi"></i> <h2>-</h2>
                    </button>-->
                    
                </div>
                <div class="profileImage bg-footer text-center align-middle fs-3 text-white" style="margin-left:20px; border-radius: 80px 10px;">
                    <i class="profileImage"></i>
                </div>
                
                <!-- Header -->
                <div class="header">
                    <a href="Option2">
                        <img src="~/images/profile_pic/boy.png" id="profileImageHeader" width="90" style="margin: 80px;" />
                    </a>
                </div>
            </div>

        </nav>
    </header>

    <style>
        .request-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }

        .buttons-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .profile-info {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .username-container {
            flex-grow: 1;
            /* Esto hará que el contenedor del nombre de usuario ocupe el espacio disponible */
        }

        .button-and-name-container {
            display: flex;
            align-items: center;
            gap: 20px; /* Espacio entre el nombre y los botones */
        }
    </style>

    <!--AQUI COMIENZA EL SIDE BAR-->
    <div class="page d-flex flex-row bg-grayContrast">
        <aside class="site-bar bg-white">
            <div class="container">
                <div class="row mb-3">
                    <a href="#exampleModal" data-bs-toggle="modal" class="list-group-item text-center" href="#">
                        Solicitudes <span class="badge bg-colorMain notification">5</span>
                        <!-- Enlace para abrir el modal -->

                    </a>
                    <!-- Agrega el código del modal fuera del enlace -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Solicitudes de amistad</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Contenido del modal -->
                                    <!--lista de solicitudes de amistad -->
                                    <div class="friend-request" id="request1">
                                        <div class="request-item">
                                            <img src="~/images/profile_pic/elephant.png" alt="Perfil 1" class="img-fluid rounded-circle" width="70">
                                            <span class="friend-name">ElenaFante</span>
                                            <button class="btn btn-success" onclick="acceptRequest('request1')">Aceptar</button>
                                            <button class="btn btn-danger" onclick="rejectRequest('request1')">Rechazar</button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="friend-request" id="request2">
                                        <div class="request-item">
                                            <img src="~/images/profile_pic/girl.png" alt="Perfil 2" class="img-fluid rounded-circle" width="70">
                                            <span class="friend-name">Arigameplay</span>
                                            <button class="btn btn-success" onclick="acceptRequest('request2')">Aceptar</button>
                                            <button class="btn btn-danger" onclick="rejectRequest('request2')">Rechazar</button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="friend-request" id="request3">
                                        <div class="request-item">
                                            <img src="~/images/profile_pic/lion.png" alt="Perfil 3" class="img-fluid rounded-circle" width="70">
                                            <span class="friend-name">roartuleon65</span>
                                            <button class="btn btn-success" onclick="acceptRequest('request3')">Aceptar</button>
                                            <button class="btn btn-danger" onclick="rejectRequest('request3')">Rechazar</button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="friend-request" id="request4">
                                        <div class="request-item">
                                            <img src="~/images/profile_pic/viking.png" alt="Perfil 4" class="img-fluid rounded-circle" width="70">
                                            <span class="friend-name">norugaBlack55</span>
                                            <button class="btn btn-success" onclick="acceptRequest('request4')">Aceptar</button>
                                            <button class="btn btn-danger" onclick="rejectRequest('request4')">Rechazar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <ul class="nav nav-pills d-flex justify-content-center align-items-center m-2">
                <li class="nav-item">
                    <a class="nav-link active-tab" aria-current="page" href="#">Romance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Amistad</a>
                </li>
            </ul>
            <ul class="list-group">
                <a style="text-decoration:none" href="~/Messages">
                <li class="list-group-item d-flex justify-content-between align-items-center clickable chat">
                    <div class="profile-pic">
                        <img src="~/images/profile_pic/boy.png" alt="Profile Picture" class="img-fluid rounded-circle" width="32">
                    </div>
                    <div class="chat-content m-1">
                        <h6 class="mb-1">John Doe</h6>
                        <p class="mb-1 last-message">Nombres que pereza, ya no voy a hacer nada</p>
                    </div>
                    <div class="chat-details text-right">
                        <small>6:10pm</small>
                        <span class="badge bg-colorMain notification">3</span>
                    </div>
                </li>
                </a>
            </ul>
        </aside>
        <div class="content-page w-100">
            <main role="main" class="pb-3 m-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <!--AQUI TERMINA EL SIDE BAR-->


    <footer class="border-top footer text-muted ">
        <div class="container">
            EmparejaTec©2023
        </div>
    </footer>

    <script>
        function acceptRequest(requestId) {
            // Lógica para aceptar la solicitud
            // Oculta la solicitud después de aceptar
            document.getElementById(requestId).style.display = "none";
        }

        function rejectRequest(requestId) {
            // Lógica para rechazar la solicitud
            // Oculta la solicitud después de rechazar
            document.getElementById(requestId).style.display = "none";
        }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iKt18ZzQZl3/JMr59u+ZlZA2T9n6K/HJQCKr59bN6EGGoFi1B/ljED" crossorigin="anonymous">


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>